*{
    padding: 0;
    margin: 0;
    
}

:root {
    --cor1: #1E1E1E;
    --cor2: #000000;
    --cor3: #FBFFFD;
    --cor4: #FFFFFF;
    --cor5: #049368;
    --cor6: #2241CC;
    --cor7: #252A36;
    --cor8: #DAD5D5;
    --cor9: #10A974;
    --cor10: #07263E;
    --cor11: #32A9FF;
    --cor12: #EFEFEF;
    --cor13: #021471;
}

body{
    background-color: var(--cor10);
    font-family: 'Inter', sans-serif;
}
.infos{
    display: flex;
    flex-direction: column;

}

h1{
    color:var(--cor12);
    -webkit-text-stroke-width :1px;
    -webkit-text-stroke-color: var(--cor6);
}

p,label{
    color: var(--cor12);
}

form{
    padding: px;
}
#botao{
    padding: 15px 20px;
    font-size: 18px;
    background-color: #10A974;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}