:root {
    --cor1: #1E1E1E;
    --cor2: #000000;
    --cor3: #FBFFFD;
    --cor4: #FFFFFF;
    --cor5: #049368;
    --cor6: #2241CC;
    --cor7: #252A36;
    --cor8: #DAD5D5;
    --cor9: #10A974;
    --cor10: #07263E;
    --cor11: #32A9FF;
    --cor12: #EFEFEF;
    --cor13: #021471;
}

body{
    font-family: syne ;
}

input{
    width: 90%;
    background-color: var(--cor9);
    border: none;
    outline: none;
    color: var(--cor12);
}

.box2{
    border: 1px solid black;
    width: 25%;
    height: 50vh;
    padding: 5px;
    
}

form{
    border: 1px solid var(--cor9);
    border-radius: 0.3em;
    padding: 0.3em;
    background-color: var(--cor9);
    
}

form input,form button{
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
    
}

form button{
    cursor: pointer;
    color: var(--cor12);
    
}
form button:hover{
    background-color: var(--cor12);
    color: var(--cor5);
}
button{
    background-color: var(--cor9) ;
    color: var(--cor12);
}