:root {
    --cor1: #1E1E1E;
    --cor2: #000000;
    --cor3: #FBFFFD;
    --cor4: #FFFFFF;
    --cor5: #049368;
    --cor6: #2241CC;
    --cor7: #252A36;
    --cor8: #DAD5D5;
    --cor9: #10A974;
    --cor10: #07263E;
    --cor11: #32A9FF;
    --cor12: #EFEFEF;
    --cor13: #021471;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: syne ;
}

body{
    background-color: var(--cor2); 
    /* arrumar a imagem, quero q o fundo fique verde mas pra isso, a img precisa ser recortada */
}

h3{
    font-size: small;
}

a{
    text-decoration: none;

}

h2,h3{
    justify-content: center;
    align-items: center;
}
#equipe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh ;
}

.equipe-pai h2{
    color:var(--cor4);
    font-size: 3rem;
    text-transform: lowercase;
    text-align: center;
}

.equipe-box{
    width: 100%;
    max-width:350px;
    padding: 20px;
    user-select: none;
    border: 10px solid #2cf4ae  ;
}

.pessoa-1::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background:linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
}

.pessoa-1{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    filter: grayscale(1);
}

.pessoa-1-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pessoa-1-texto strong{
    color: var(--cor12);
    font-weight: 700;
    font-size: 1.2rem;
}

.pessoa-1-texto span{
    color:#919191;
    font-size:0.9rem;
}

.links-pessoa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.links-pessoa a{
    margin: 0px 10px;;
    color: var(--cor4);
    font: 0.9rem;
    transition: all ease 0.3s;
}

.links-pessoa a:hover{
    color: var(--cor5);
}